<% include ../layout/header %>
	<section id="directives-calendar">
	
	<!-- left column has the add a course and displays the courses that are being displayed -->
	<div id="leftcolumn">
		<button id="addbutton"> Add course</button>
		<br>
		<div id="loadedcourses">Course List</div>
	</div>
	
	<div id="calendar"></div>
	
	</section>
  <style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>

<!--body>

  <div id='calendar'></div>

</body-->
<% include ../layout/footer %>
