<% include ../layout/header %>
	<section class="calendar-page">
	 
		<!-- left column has the add a course and displays the courses that are being displayed -->
		<div id="leftcolumn">
			<button class="button2" id="addbutton"> Add course</button>
			<br>
			<div id="loadedcourses" style="margin-bottom:5px">
				<h3>Course List:</h3>
				<p><i>(click course to toggle)</i></p>
			</div>
		</div>
		<div id="modalBackground" class="modalBackground">
			
		</div>
		
		
		<div class="dialogbox" id="addSongDialog">
			
			<h2>Add a Course</h2>
			<p>Import from an existing iCal feed</p>
			<div style="display: -webkit-box">
			<p style="padding-right:5px; padding-top:5px">iCal Feed:</p>
			<input id="iCalFeedField" type="text" size="21">
			 <button class="button2" id="importCourse">Import</button>
			</div>
			<button class="button2" id="closeAddSongButton"> cancel </button>
		</div>
		
		<div class="dialogbox" id="nameCourseDialog">
			<p style="text-align:center"> Course Successfully Loaded </p>
			<h2>Give the Course a Name</h2>
			<div style="display: -webkit-box">
			<p style="padding-right:5px; padding-top:5px">Course Name:</p>
			<input id="courseNameField" type="text"  size="19">
			 <button class="button2" id="nameCourseButton">Apply Name</button>
			</div>
		</div>
		
		<div class="dialogbox loading" id="loading">
			<h2> Importing Course... </h2>
		</div>
		
		<div class="dialogbox details" id="taskDetailsDialog">
			<div id="taskDetailsDiv"></div>
			<div style="display: -webkit-box">
				<button class="button2" id="incomplete"> Incomplete </button>
				<button class="button2" id="complete"> Complete </button>
			</div>
			<button class="button2" id="closeDetailsButton"> Close </button>
		</div>
	
		<div id="calendar"></div>
	
	</section>

<% include ../layout/footer %>
