<!doctype html>
<html><!-- ng-app="app"-->
	<head>

		<title>Devoir</title>
		<% include ../layout/headIncludes %>
		<script src="https://apis.google.com/js/client:platform.js" async defer></script>


	</head>
	<body>

		<section class="home"><!-- ng-controller="homeCtrl"-->
			<div id="mask">
				<div id="title">
					<h1>Devoir</h1>
					<h2>Don't fall behind in your homework</h2>
					<br>
					<a class="btn btn-danger" href="/calendar">Sign up with Google</a>
				</div>
				
			</div>
		</section>

	</body>
</html>
