<!doctype html>
<html><!-- ng-app="app"-->
	<head>

		<title>Devoir</title>
		<% include headIncludes %>

	</head>
	<body>

		<div id="wrapper">

			<header>
				<div id="logo"></div>

				<a id="logout" href="/logout">logout</a>
			</header>

			<div id="main">

