<!doctype html>
<html><!-- ng-app="app"-->
	<head>
		
		<title>Devoir</title>
		<% include headIncludes %>
	</div>

	</head>
	<body>

		<div id="wrapper">

			<header>
				<h1>Devoir</h1>

				<a id="logout" href="/logout">logout</a>
			</header>

			<div id="main">


