<!doctype html>
<html ng-app="app">
	<head>

		<title>Devoir</title>
		<% include headIncludes %>

	</head>
	<body>

		<div id="wrapper">

			<header>
				<h1>Devoir</h1>
			</header>

			<div id="main">

